# Machine Learning in Python

I document this file that used to educate myself some useful knowledge in Machine Learning.\~\
I code everything in Microsoft VS. To download Python packages, one should open the Windows prompt and type "py -m pip install PackageName"

"numpy" is the pacakage that used to create array and matrix.
"pandas" is commonly used to analyze the data.

In [1]:
### import packages
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression

use 'read_csv' from 'pandas' to read csv data file.

In [2]:
df_origin = pd.read_csv("data/trade.csv")
df_origin

      iso3_o iso3_d  contig         dist  comlang_off  tradeflow_comtrade_d
0        ABW    ABW     0.0      5.22500          0.0                   NaN
1        ABW    AFG     0.0  13257.81400          0.0                   NaN
2        ABW    AGO     0.0   9516.91310          0.0                   NaN
3        ABW    AIA     0.0    983.26801          0.0                   NaN
4        ABW    ALB     0.0   9091.74220          0.0                   NaN
...      ...    ...     ...          ...          ...                   ...
61499    ZWE    YMD     NaN          NaN          NaN                   NaN
61500    ZWE    YUG     NaN          NaN          NaN                   NaN
61501    ZWE    ZAF     1.0   2186.20610          1.0            170196.063
61502    ZWE    ZMB     1.0    396.80399          1.0             74451.109
61503    ZWE    ZWE     0.0    235.11900          0.0                   NaN

[61504 rows x 6 columns]

In [3]:
df = df_origin.dropna(axis = 0, how = "any") # drop missing values 
df

      iso3_o iso3_d  contig         dist  comlang_off  tradeflow_comtrade_d
7        ABW    ARE     0.0  12735.01200          0.0               538.973
8        ABW    ARG     0.0   5396.22020          1.0                 0.052
15       ABW    AUT     0.0   8719.12990          0.0               109.376
18       ABW    BEL     0.0   7847.06980          1.0                29.035
23       ABW    BGR     0.0   9348.03910          0.0                 1.957
...      ...    ...     ...          ...          ...                   ...
61488    ZWE    UZB     0.0   7664.58110          0.0              2497.368
61490    ZWE    VCT     0.0  10699.65500          1.0                 0.406
61494    ZWE    VNM     0.0   9231.17770          0.0             15669.277
61501    ZWE    ZAF     1.0   2186.20610          1.0            170196.063
61502    ZWE    ZMB     1.0    396.80399          1.0             74451.109

[25309 rows x 6 columns]

In [4]:
# Drop only those rows where the specified column has a missing value
#df.dropna(subset=['varName'])